.main{
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    
}
nav{
position:fixed;
top: 0;
}
.nav-link{
    display: inline-block;
}
#header{
    font-size: 35px;
}