body{
    background-color: gray;
}

.main{
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    
}
#header-img{
    width: 100px;
    height: 100px;
}
nav{
    position:fixed;
    top: 0;
    left: 400px;
}
.nav-link{
    display: inline-block;
    color: black;
}
#header{
    font-size: 35px;
    /* margin-left: -500px; */
    margin-top: 80px;
}
#video{
    margin-top: 80px;
}